<section id="branches" class="row">
    <div class="col-md-4">
        <div>
            <select data-hook="select_reg" class="form-input">
                <option></option>
            </select>
        </div>
        <ul data-hook="list" class="list-group"></ul>
    </div>
    <div class="col-md-8">
        <div class="map" data-hook="map"></div>
    </div>
</section>
